@import url("/shadows/common.css");

.header {
    justify-content: space-between;
}
.root {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    width: 100%;
}

.row {
    display: flex;
}

.padding {
    padding: 8px;
}

#playerInfo, #opponentInfo {
    flex-grow: 1;
}

#opponentInfo {
    text-align: right;
}

#gameArea {
    flex-grow: 1;
    position: relative;
}

canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* Estilo del contenedor de la ventana emergente */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);

    background-color: #d8bfd8;
    /* Fondo lavanda */
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    color: #1a1a1a;
    /* Texto oscuro */
    font-family: 'Arial', sans-serif;
    /* Fuente consistente */
    width: 90%;
    /* Ancho responsivo */
    max-width: 400px;
    /* Ancho máximo */
    text-align: center;
    /* Centrar contenido */
}

/* Estilo del mensaje */
#popup p {
    font-size: 20px;
    /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 20px;
    color: #7b1fa2;
    /* Cambia el color a morado principal */
}

/* Botones */
.popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* Separación entre botones */
}

#confirmation-input {
    width: calc(100% - 20px);
    /* Ancho igual al contenedor menos los márgenes */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: #1a1a1a;
    margin-bottom: 15px;
    box-sizing: border-box;
    /* Asegura que el padding no aumente el ancho */
}

.popup-buttons button {
    background-color: #211fa2;
    /* Morado principal */
    color: #f4f4f4;
    /* Texto blanco */
    border: none;
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 10px 15px;
    /* Tamaño del botón */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    /* Hacer que los botones ocupen el mismo espacio */
    transition: background-color 0.3s ease;
}

.popup-buttons button:hover {
    background-color: #2f2d9c;
    /* Negro al pasar el ratón */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}