@import url("/shadows/common.css");

.header {
    justify-content: space-between;
}
.root {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    width: 100%;
}

.row {
    display: flex;
}

.padding {
    padding: 8px;
}

#playerInfo, #opponentInfo {
    flex-grow: 1;
}

#opponentInfo {
    text-align: right;
}

#gameArea {
    flex-grow: 1;
    position: relative;
}

canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
